<h2>Edit observation</h2>


<div class="row show-grid">

    <div class="col-xs-12 form-group">
        <label for="observation_name">Name</label>
        <input type="text"
               id="observation_name"
               name="name"
               class="form-control"
               ng-model="observation.name"
               required
               ng-disabled="observation.owner != $root.currentUser._id"
               am-reset-field/>
    </div>

    <div class="col-xs-6 form-group">
        <label for="observation_amount">Amount</label>
        <input type="tel"
               id="observation_amount"
               name="amount"
               class="form-control"
               ng-model="observation.amount"
               ng-disabled="observation.owner != $root.currentUser._id">
    </div>

    <div class="col-xs-6 form-group">
        <label for="observation_sex">Sex</label>
        <select id="observation_sex"
                name="sex"
                class="form-control"
                ng-options="item.label as item.label for item in sexChoices"
                ng-model="observation.sex"
                ng-disabled="observation.owner != $root.currentUser._id">
        </select>
    </div>

    <div class="col-xs-6 form-group">
        <label for="observation_age">Age</label>
        <select id="observation_age"
                name="age"
                class="form-control"
                ng-options="item.label as item.label for item in ageChoices"
                ng-model="observation.age"
                ng-disabled="observation.owner != $root.currentUser._id">
        </select>
    </div>

    <div class="col-xs-6 form-group">
        <label for="observation_activity">Activity</label>
        <select id="observation_activity"
                name="activity"
                class="form-control"
                ng-options="item.label as item.label for item in activityChoices"
                ng-model="observation.activity"
                ng-disabled="observation.owner != $root.currentUser._id">
        </select>
    </div>

    <div class="col-xs-12 form-group">
        <label for="observation_date_start">Start</label>

        <div class="input-group date" id="dateTimePickerAddStart">
            <input type="text"
                   class="form-control"
                   name="date_start"
                   id="observation_date_start"
                   ng-model="observation.date_start"
                   required
                   ng-disabled="observation.owner != $root.currentUser._id"
                    />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fui-calendar"></i></button>
                </span>
        </div>
        <!--
                <input id="observation_date" class="form-control" ng-model="observation.date_start"
                       ng-disabled="observation.owner != $root.currentUser._id">
        -->
    </div>

    <div class="col-xs-12 form-group">
        <label for="observation_date_end">End</label>

        <div class="input-group date" id="dateTimePickerAddEnd">
            <input type="text"
                   class="form-control"
                   name="date_end"
                   id="observation_date_end"
                   ng-model="observation.date_end"
                   required
                   ng-disabled="observation.owner != $root.currentUser._id"
                    />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fui-calendar"></i></button>
                </span>
        </div>
        <!--
                <input id="observation_time" class="form-control" ng-model="observation.date_end"
                       ng-disabled="observation.owner != $root.currentUser._id">
        -->
    </div>

    <div class="col-xs-12 form-group">
        <label for="observation_unsure">Unsure observation</label>
        <toggle-switch ng-model="observation.unsure" ng-disabled="observation.owner != $root.currentUser._id" ></toggle-switch>
    </div>

    <div class="col-xs-12 form-group">
        <label for="observation_comment">Comment</label>
        <textarea id="observation_comment"
              name="comment"
              class="form-control"
              ng-model="observation.comment"
              ng-disabled="observation.owner != $root.currentUser._id"
            ></textarea>
    </div>

    <div class="col-xs-12 form-group">
        <label for="observation_public">Public observation</label>
        <toggle-switch ng-model="observation.public" ng-disabled="observation.owner != $root.currentUser._id"></toggle-switch>
    </div>
</div>


