<h2>Add observation</h2>

<div class="row" ng-show="$root.currentUser">
    <div class="col-xs-12 col-md-8">
        <form class="form" name="addObservationForm">

            <div class="row show-grid">

                <div class="col-xs-12 form-group">
                    <label for="newObservation_name">Name</label>
                    <input type="text"
                           id="newObservation_name"
                           name="name"
                           class="form-control"
                           ng-model="newObservation.name"
                           required
                           am-reset-field/>
                </div>

                <div class="col-xs-6 form-group">
                    <label for="newObservation_amount">Amount</label>
                    <input type="tel"
                           id="newObservation_amount"
                           name="amount"
                           class="form-control"
                           ng-model="newObservation.amount"
                           am-reset-field/>
                </div>

                <div class="col-xs-6 form-group">
                    <label for="newObservation_sex">Sex</label>
                    <select id="newObservation_sex"
                            name="sex"
                            class="form-control"
                            ng-options="item.label as item.label for item in sexChoices"
                            ng-model="newObservation.sex">
                    </select>
                </div>

                <div class="col-xs-6 form-group">
                    <label for="newObservation_age">Age</label>
                    <select id="newObservation_age"
                            name="age"
                            class="form-control"
                            ng-options="item.label as item.label for item in ageChoices"
                            ng-model="newObservation.age">
                    </select>
                </div>

                <div class="col-xs-6 form-group">
                    <label for="newObservation_activity">Activity</label>
                    <select id="newObservation_activity"
                            name="activity"
                            class="form-control"
                            ng-options="item.label as item.label for item in activityChoices"
                            ng-model="newObservation.activity"></select>
                </div>

                <div class="col-xs-12 form-group">
                    <label for="newObservation_date_start">Start</label>

                    <div class="input-group date" id="dateTimePickerAddStart">
                        <input type="text"
                               class="form-control"
                               name="date_start"
                               id="newObservation_date_start"
                               ng-model="newObservation.date_start"
                               required
                                />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i
                                    class="fui-calendar"></i></button>
                        </span>
                    </div>

                </div>
                <div class="col-xs-12 form-group">
                    <label for="newObservation_date_end">End</label>

                    <div class="input-group date" id="dateTimePickerAddEnd">
                        <input type="text"
                               class="form-control"
                               name="date_end"
                               id="newObservation_date_end"
                               ng-model="newObservation.date_end"
                               required
                                />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i
                                    class="fui-calendar"></i></button>
                        </span>
                    </div>

                </div>

                <div class="col-xs-12 form-group">
                    <label>Unsure observation</label>
                    <toggle-switch ng-model="newObservation.unsure"></toggle-switch>
                </div>

                <div class="col-xs-12 form-group">
                    <label for="newObservation_comment">Comment</label>
                    <textarea id="newObservation_comment"
                              name="comment"
                              class="form-control"
                              ng-model="newObservation.comment"
                            ></textarea>
                </div>

                <div class="col-xs-6 form-group">
                    <label>Public observation</label>
                    <toggle-switch ng-model="newObservation.public"></toggle-switch>

                </div>

                <div class="col-xs-6">
                    <br>
                    <button class="btn btn-primary btn-md pull-right" ng-click="add(newObservation);">Add observation</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div ng-hide="$root.currentUser || $root.loggingIn">
    Log in to create an observation!
</div>
