<div class="row show-grid">

    <div class="col-xs-12">
        <span show-observation-date observation="observation"></span>
    </div>

    <div class="col-xs-12">
        <h2>{{observation.name}}</h2>
    </div>


    <div class="col-xs-12">
        Amount: {{observation.amount}}
    </div>

    <div class="col-xs-12">
        Sex: {{observation.sex}}
    </div>

    <div class="col-xs-12">
        Age: {{observation.age}}
    </div>

    <div class="col-xs-12">
        Activity: {{observation.activity}}
    </div>

    <div class="col-xs-12">

    </div>

    <div ng-if="observation.unsure" class="col-xs-12">
        Unsure observation: {{observation.unsure}}
    </div>

    <div class="col-xs-12">
        Comment: {{observation.comment}}
    </div>
</div>

<!--
<div class="row show-grid">
    <div class="col-xs-12">
        Public: <span yes-no="observation.public"></span>
    </div>
</div>
-->
<div class="row show-grid" ng-show="isOwner(observation.owners, $root.currentUser)">
    <div class="col-xs-12">
        <button class="btn" ng-click="edit()">EDIT</button>
    </div>
</div>


